<!-- <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/login.css">
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">

      <label for="password">Password:</label>
      <input type="password" id="password" name="password">

      <input type="submit" value="Submit">
    </form>
    <p>Don't have an account? <a href="register.html">Sign up here</a>.</p>
  </body>
</html>
 -->
 <!DOCTYPE html>
 <html>
   <head>
     <link rel="stylesheet" href="../css/login.css"/>
     <title>Login Page</title>
   </head>
   <body>
     <h1>Login Page</h1>
     <form action="/Users/login" method="POST"> <!-- Specify the route for form submission -->
       <label for="email">Email:</label>
       <input type="text" id="email" name="email">
 
       <label for="password">Password:</label>
       <input type="password" id="password" name="password">
 
       <input type="submit" value="Submit">
     </form>
     <p>Don't have an account? <a href="/Register">Sign up here</a>.</p>
   </body>
 </html>
 