<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/newHome.css" />
    <title>Trimly - Homepage</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          <img
            src="../img/_34eab40d-bda8-4cc0-8754-9c8316c4c801.jpeg"
            alt="Trimly Logo"
          />Trimly
        </h1>
      </header>
      <nav>
        <ul>
          <li><a href="/Users/login">Home</a></li>
          <li><a href="/my-urls">My URLs</a></li>
          <li><a href="/about">About</a></li>
          <li>Already a member? <a href="/login">Login here</a></li>
          <li>Not a member? <a href="/register">Register</a></li>
          <!-- <li><a href="/logout">Logout</a></li> -->
        </ul>
      </nav>
    </div>
    <main>
      <h2>Welcome to Trimly!</h2>
      <p>
        <span class="color1">T</span><span class="color2">r</span
        ><span class="color3">i</span><span class="color4">m</span
        ><span class="color1">l</span><span class="color2">y</span> is a URL
        shortening platform that allows you to shorten links and track their
        performance. Using links in your social media posts is a great way to
        drive traffic to your website, blog, or landing page. With
        <span class="color1">T</span><span class="color2">r</span
        ><span class="color3">i</span><span class="color4">m</span
        ><span class="color1">l</span><span class="color2">y</span>'s link
        shortener, you can create shorter, tidier links and add tracking
        parameters to see how much web traffic comes from those links. You can
        also analyze the number of clicks on your links to measure their
        success. Sign up for a <span class="color1">T</span
        ><span class="color2">r</span><span class="color3">i</span
        ><span class="color4">m</span><span class="color1">l</span
        ><span class="color2">y</span> account now to access our URL shortener
        and start optimizing your links today.
      </p>
    </main>
  </body>
</html>
